.block {
  display: flex;
}
.poster {
  max-width: 125px;
  position: relative;
}

.info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 104.4px 15px;
  gap: 14px;
}

.info::before {
  content: '';
  position: absolute;
  border: 1px solid black;
  background-color: black;
  width: 6px;
  height: 14px;
  top: 0;
  left: 1px;
}
