.title {
  padding: 25px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(99, 83, 108, 1);

  color: rgba(255, 255, 255, 1);
}

.title h3 {
  display: flex;
  align-items: center;
}

.title h3::before {
  position: relative;
  z-index: 1;
  margin-right: 20px;
  height: 44px;
  content: url('@/shared/assets/round.png');
}

.image {
  width: 24px;
  height: 16px;
  transition: transform 0.3s cubic-bezier(0.4, 1, 0.2, 2);
  cursor: pointer;
}

.img_rotate {
  width: 24px;
  height: 16px;
  transform: rotate(180deg);
  transition: transform 0.3s cubic-bezier(0.4, 1, 0.2, 2);
  cursor: pointer;
}
