.heading-xl {
  font-family: var(--font-main);
  font-weight: var(--fw-hard);
  font-size: var(--fs-34);
  line-height: var(--lh-39);
}

.heading-light {
  font-weight: var(--fw-lighter);
}

.heading-bold {
  font-family: var(--font-main);
  font-weight: var(--fw-bold);
  font-size: var(--fs-22);
  line-height: var(--lh-26);
}

.heading-sm {
  font-family: var(--font-main);
  font-weight: var(--fw-bold);
  font-size: var(--fs-16);
  line-height: var(--lh-18);
}
.text-regular {
  font-family: var(--font-main);
  font-weight: var(--fw-regular);
  font-size: var(--fs-15);
  line-height: var(--lh-17);
}
.text-medium {
  font-family: var(--font-main);
  font-weight: var(--fw-light);
  font-size: var(--fs-14);
  line-height: var(--lh-16);
}

.text-light {
  font-family: var(--font-main);
  font-weight: var(--fw-regular);
  font-size: var(--fs-12);
  line-height: var(--lh-14);
}
