.header {
  padding: 35px 42px;
}

.subtitle {
  color: #ffffff;
  line-height: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
  vertical-align: middle;
}

.authorization-form {
  max-width: 480px;
  margin: 0 auto;
}

.authorization-form__title {
  padding: 16px 0;
  color: #ffffff;
  text-align: center;

  background-color: #63536c;

  text-transform: uppercase;
}

.authorization-form__fields {
  padding: 35px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;

  background-color: #eae9ebf2;
}

.authorization-form__field {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.authorization-form__field input {
  max-width: 272px;
  width: 100vw;
  height: 36px;

  border: 1px solid #b7b7b7;
  padding: 8px 8.8px 9px;
}

.authorization-form__field input::placeholder {
  color: #757575;
}

.authorization-form__btn {
  margin-top: 16px;
}

.toast {
  cursor: grab;
}
