* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: url('../shared/assets/main-background.jpg');
  background-repeat: no-repeat;
  min-height: 100%;
  background-color: #c87201;
  background-position: center;
  background-size: cover;
}

:root {
  --font-main: 'Roboto', sans-serif;

  --fw-lighter: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-hard: 900;

  --fs-12: 12px;
  --fs-13: 13px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-34: 34px;

  --lh-14: 14px;
  --lh-16: 16px;
  --lh-17: 17px;
  --lh-18: 18px;
  --lh-39: 39px;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
