.headerConfirm {
  position: relative;
  padding: 25px 15px;
  background-color: #f1ebe6f2;
}

.headerConfirm::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  top: -3px;
  left: 0;
  background-image: url('@/shared/assets/upper-spine.png');
}

.headerConfirm::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-image: url('@/shared/assets/down-spine.png');
}

.titleConfirm {
  text-transform: uppercase;
  color: #c76f00;
}

.bodyConfirm {
  margin-top: 6px;
  position: relative;
  padding: 15px 10px;

  display: flex;
  flex-direction: column;
  gap: 11px;
  background-color: #f1ebe6f2;
}

.bodyConfirm::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  top: -3px;
  left: 0;
  background-image: url('@/shared/assets/upper-spine.png');
}
