body {
  background-image: url('../assets/main-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  max-width: 990px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}
