.wrapper {
  display: flex;
  flex-direction: column;
  border: #F1EBE6F2 solid 1px;
  border-radius: 2px;
}

.scheme-container {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #171D24;
}

.scheme {
   margin: 0 auto;
   max-width: 264px;

   text-align: center;
}