.wrapper {
  display: flex;
  flex-direction: column;
}

.scheme-container {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #171D24;
}

.scheme {
   margin: 0 auto;
   max-width: 264px;

   text-align: center;
}