.wrapper {
  display: flex;
  flex-direction: column;
}

.scheme-container {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #171d24;
}

.scheme {
  margin: 0 auto;
  max-width: 264px;

  text-align: center;
}

.booking-btn {
  padding: 30px;
  width: 100%;

  background-color: #f1ebe6f2;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.descriptionPlace {
  align-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
