.title {
  align-self: flex-start;

  width: 100%;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: #f1ebe6f2;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
